<img class="event-image" src="{{this.creatorImage}}">
<span class="event-name">{{this.name}}</span>
<span class="event-time">{{this.relativeDay}}, {{this.startTime}} - {{this.endTime}}</span>
<div class="event-attendees">{{this.attendeeList}}</div>
