<div class="events-list">
  <div class="events-list-handle">
  </div>
  <div class="events-list-content">
    <ul class="upcoming-events">
      {{#each events}}
        <li>
          <img class="event-image" src="{{this.creatorImage}}">
          <span class="event-name">{{this.name}}</span>
          <span class="event-time">{{this.relativeDay}}, {{this.startTime}} - {{this.endTime}}</span>
          <div class="event-attendees">{{this.attendeeList}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
